.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  padding: 0em 1em;
  gap: 10px;
  border-bottom: 1px solid rgb(7, 7, 7);
}
.whoiam {
  display: flex;
  width: 100%;
  height: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
    line-height: 1em;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 100%;

}
.img img {
  width: 70%;
  max-width: 300px;
}
.btn {
  margin-top: 1em;
}
#contactbutton {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

@media (min-width: 670px) {
  .home {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
  }
  .whoiam {
    justify-content: center;
    width: auto;
    min-width: 40%;
    align-items: flex-start;
  }
  h1 {
    font-size: 60px;
    line-height: 1em;
  }
  h3 {
    font-size: 40px;
  }
  .img {
    height: auto;
    min-height: 50%;
    width: 70%;
    max-height: 700px;
    max-width: 500px;
  }
  .img img {
    transition: 2s;
    width: 70%;
    max-width: none;
  }
  .img img:hover {
    transform: scale(1.1);
  }
  .btn {
    font-size: 0.9em;
  }
}
